{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Banner Start -->
<section class="banner banner-price banner-half">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-6 col-md-12 col-sm-12 text-section wow fadeInLeft" data-wow-delay="1500ms">
                <div class="text-col">
                <h2 class="heading">Book <span class="bold-head2">the class session</span></h2>
                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-fancybox data-src="#animatedModal">Register and Join</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
        </div>
    </div>
<!-- Container End  -->
</section>

<section class="price-packs">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title text-center pb-5">
                    <h2 class="heading heading-custom">Book <span class="bold-head"> Class</span></h2>
                    <!-- filter links -->
                    <div class="filtering col-sm-12 text-center pt-2">
                    <span data-filter=".monday" class="active ">MONDAY</span>
                    <span data-filter=".tuesday">TUESDAY</span>
                    <span data-filter=".wednesday">WEDNESDAY</span>
                    <span data-filter=".thursday">THURSDAY</span>
                    <span data-filter=".friday">FRIDAY</span>
                    <span data-filter=".saturday">SATURDAY</span>
                    <span data-filter=".sunday">SUNDAY</span>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        
            <div class="clearfix"></div>
            <!-- gallery -->
            <div class="gallery text-center">
                
                <!-- monday class -->
                <div class="row gallery-content">
                    <!-- gallery item -->
                    <div class="col-md-3 items monday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">09AM-10AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items monday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">10AM-11AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items monday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">11AM-12AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items monday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">01PM-02PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items monday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">02PM-03PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items monday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">03PM-04PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items monday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">04PM-05PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items monday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">06PM-07PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items monday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">07PM-08PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items monday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">08PM-09PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                </div>
                
                <!-- tuesday class -->
                <div class="row gallery-content">
                    <!-- gallery item -->
                    <div class="col-md-3 items tuesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">09AM-10AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items tuesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">10AM-11AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items tuesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">11AM-12AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items tuesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">01PM-02PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items tuesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">02PM-03PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items tuesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">03PM-04PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items tuesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">04PM-05PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items tuesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">06PM-07PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items tuesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">07PM-08PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items tuesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">08PM-09PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                </div>
                
                <!-- wednesday class -->
                <div class="row gallery-content">
                    <!-- gallery item -->
                    <div class="col-md-3 items wednesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">09AM-10AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items wednesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">10AM-11AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items wednesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">11AM-12AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items wednesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">01PM-02PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items wednesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">02PM-03PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items wednesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">03PM-04PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items wednesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">04PM-05PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items wednesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">06PM-07PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items wednesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">07PM-08PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items wednesday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">08PM-09PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                </div>
                
                <!-- thursday class -->
                <div class="row gallery-content">
                    <!-- gallery item -->
                    <div class="col-md-3 items thursday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">09AM-10AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items thursday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">10AM-11AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items thursday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">11AM-12AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items thursday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">01PM-02PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items thursday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">02PM-03PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items thursday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">03PM-04PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items thursday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">04PM-05PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items thursday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">06PM-07PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items thursday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">07PM-08PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items thursday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">08PM-09PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                </div>
                
                <!-- friday class -->
                <div class="row gallery-content">
                    <!-- gallery item -->
                    <div class="col-md-3 items friday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">09AM-10AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items friday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">10AM-11AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items friday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">11AM-12AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items friday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">01PM-02PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items friday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">02PM-03PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items friday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">03PM-04PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items friday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">04PM-05PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items friday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">06PM-07PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items friday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">07PM-08PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items friday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">08PM-09PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                </div>
                
                <!-- saturday class -->
                <div class="row gallery-content">
                    <!-- gallery item -->
                    <div class="col-md-3 items saturday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">09AM-10AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items saturday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">10AM-11AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items saturday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">11AM-12AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items saturday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">01PM-02PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items saturday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">02PM-03PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items saturday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">03PM-04PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items saturday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">04PM-05PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                </div>

                <!-- sunday class -->
                <div class="row gallery-content">
                    <!-- gallery item -->
                    <div class="col-md-3 items sunday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">09AM-10AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items sunday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">10AM-11AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items sunday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">11AM-12AM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items sunday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">01PM-02PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items sunday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">02PM-03PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items sunday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">03PM-04PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                    <!-- gallery item -->
                    <div class="col-md-3 items sunday mb-4">
                        <div class="item-img">
                        <div class="sechdual-category mt-3">
                                <h5 class="trainer-name mt-2">04PM-05PM</h5>
                                <p>50 minutes session</p>
                                <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Book now</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clear-fix"></div>
        </div>
    </div>
</section>
     <!-- Banner End -->
{% endblock content %}