{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Banner Start -->
<section class="banner" id="home">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-6 col-md-12 col-sm-12 text-section wow fadeInLeft" data-wow-delay="1500ms">
                <div class="text-col">
                <h2 class="heading">Strengthen <span class="bold-head2">Your Core</span> Enhanced <span class="bold-head2">Your Flexibility</span></h2>
                <a href="{% url 'account_signup' %}" class="btn button btn-rounded pink-btn btn-hvr-purple">Register and Join</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12"></div>
    </div>
<!-- Container End  -->
</section>
<!-- Banner End -->

<!-- About Section Start -->
<section class="about-section" id="about">
    <div class="siluet-img"><img src="{% static 'images/digital/siluet-edit5.png' %}" alt="img"></div>
    <div class="container">
    <!-- row-1 -->
    <div class="row row-1 no-gutters">
        <div class="col-lg-12 col-md-12 col-sm-12 heading-col text-center wow fadeIn" data-wow-delay="400ms">
            <h5 class="subheading mb-2">Tailored Classes to Strengthen, Balance, and Empower Your Body.</h5>
            <h2 class="heading">Our <span class="bold-head">CLASSES</span></h2>
        </div>
    </div>
    <div class="row row-3 no-gutters yoga-services">
        <div class="col-lg-5 col-md-12 col-sm-12 wow fadeInLeft" data-wow-delay="400ms">
            <div class="service text-center">
            <!-- <h2 class="heading">01.</h2> -->
            <img class="heading-class-section" src="{% static 'images/digital/studio-img/caddical-reformer-edit.png' %}" alt="img">
            <h5 class="subheading">REFORMER</h5>
            <p class="text">Experience dynamic, full body strength and flexibility training with our versatile Reformer Pilates workouts</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12"></div>
        <div class="col-lg-5 col-md-12 col-sm-12 wow fadeInRight" data-wow-delay="400ms">
            <div class="service text-center">
            <img class="heading-class-section" src="{% static 'images/digital/studio-img/combo-chair-edit.png' %}" alt="img">
            <h5 class="subheading">CHAIR CLASS</h5>
            <p class="text">Build core strength and balance with targeted exercises on the Pilates chair for a powerful, low-impact session.</p>
            </div>
        </div>
    </div>
    <!-- Row-4 -->
    <div class="row row-3 no-gutters yoga-services">
        <div class="col-lg-5 col-md-12 col-sm-12 wow fadeInLeft" data-wow-delay="400ms">
            <div class="service text-center">
            <img class="heading-class-section" src="{% static 'images/digital/studio-img/tower-mat-edit.png' %}" alt="img">
            <h5 class="subheading">TOWER CLASS</h5>
            <p class="text">Combine mat work with spring resistance in our Tower class, perfect for toning and building total body strength.</p>
            </div>
        </div>
        <div class="col-lg-2 col-md-12 col-sm-12"></div>
        <div class="col-lg-5 col-md-12 col-sm-12 wow fadeInRight" data-wow-delay="400ms">
            <div class="service text-center">
            <img class="heading-class-section" src="{% static 'images/digital/studio-img/ladder-barrel-edit.png' %}" alt="img">
            <h5 class="subheading">LADDER BARREL</h5>
            <p class="text">Stretch, strengthen, and align your body with Ladder Barrel's unique support for deeper Pilates movements.</p>
            </div>
        </div>
    </div>
    </div>
    <!-- Container End -->
</section>
<!-- About Section End -->

<!-- Reviews Section Start -->
<section class="reviews-section">
    <div class="container">
        <div class="carousel-section">
            <div class=" text-center reviews-carousel owl-carousel owl-themes active">
                <div class="item">
                <div class="testimonials">
                    <h5 class="subheading">People Love Us</h5>
                    <h2 class="heading">Our Happy Members</h2>
                    <p class="text text-1">By doing Pilates in the past three months, my body feels fit and be able to stay active the whole day. I slept better from time to time. Pilates is fun, it doesn't hurt and does your body good. The coach are attend to pay attention to my need to gain the fitness that I need.   
                    </p>
                    <h5 class="text name">Angelina - New York City </h5>
                    <ul class="star-icons">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                    </ul>
                </div>
                </div>
                <div class="item active">
                <div class="testimonials">
                    <h5 class="subheading">People Love Us</h5>
                    <h2 class="heading">Our Happy Members</h2>
                    <p class="text text-1">By doing Pilates in the past three months, my body feels fit and be able to stay active the whole day. I slept better from time to time. Pilates is fun, it doesn't hurt and does your body good. The coach are attend to pay attention to my need to gain the fitness that I need.   
                    </p>
                    <h5 class="text name">Angelina - New York City </h5>
                    <ul class="star-icons">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                    </ul>
                </div>
                </div>
                <div class="item">
                <div class="testimonials">
                    <h5 class="subheading">People Love Us</h5>
                    <h2 class="heading">Our Happy Members</h2>
                    <p class="text text-1">By doing Pilates in the past three months, my body feels fit and be able to stay active the whole day. I slept better from time to time. Pilates is fun, it doesn't hurt and does your body good. The coach are attend to pay attention to my need to gain the fitness that I need.   
                    </p>
                    <h5 class="text name">Angelina - New York City </h5>
                    <ul class="star-icons">
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                        <li><i class="fas fa-star"></i></li>
                    </ul>
                </div>
                </div>
            </div>
            <!-- Carousel End -->
            <div class="icons">
                <div class="left-customPrevBtn">
                <i class="fas fa-chevron-left customPrevBtn"></i>
                </div>
                <div class="right-customNextBtn">
                <i class="fas fa-chevron-right customNextBtn"></i>                     
                </div>
            </div>
        </div>
        <!-- Carousel Section End -->
    </div>
    <!-- Container -->
</section>
<!-- Reviews Section End -->

<!--Portfolio sec start-->
<section id="portfolio-sec" class="portfolio-sec portfolio-section pb-0">
    <div class="container">
        <div class="row row-1 no-gutters">
            <div class="col-lg-12 col-md-12 col-sm-12 heading-col text-center wow fadeIn" data-wow-delay="400ms">
                <h5 class="subheading mb-2">Where Strength Meets Serenity - Explore Our Pilates Studio</h5>
                <h2 class="heading heading-custom mb-5">Our <span class="bold-head">STUDIO</span></h2>
            </div>
        </div>
    </div>
    <div class="portfolio-items owl-carousel owl-theme">
        <div class="item">
            <a href="{% static 'images/digital/foto-studio/img-1.jpg' %}" data-fancybox="gallery" data-title="Showcases">
                <div class="port-img">
                    <img src="{% static 'images/digital/foto-studio/img-1a.jpg' %}" alt="">
                </div>
                <div class="portfolio-overlay">
                    <div class="overlay-inner-content">
                    <i class="las la-plus"></i>
                    <span>view</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="{% static 'images/digital/foto-studio/img-2.jpg' %}" data-fancybox="gallery" data-title="Showcases">
                <div class="port-img">
                    <img src="{% static 'images/digital/foto-studio/img-2a.jpg' %}" alt="">
                </div>
                <div class="portfolio-overlay">
                    <div class="overlay-inner-content">
                        <i class="las la-plus"></i>
                        <span>view</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="{% static 'images/digital/foto-studio/img-3.jpg' %}" data-fancybox="gallery" data-title="Showcases">
                <div class="port-img">
                    <img src="{% static 'images/digital/foto-studio/img-3a.jpg' %}" alt="">
                </div>
                <div class="portfolio-overlay">
                    <div class="overlay-inner-content">
                        <i class="las la-plus"></i>
                        <span>view</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="{% static 'images/digital/foto-studio/img-4.jpg' %}" data-fancybox="gallery" data-title="Showcases">
                <div class="port-img">
                    <img src="{% static 'images/digital/foto-studio/img-4a.jpg' %}" alt="">
                </div>
                <div class="portfolio-overlay">
                    <div class="overlay-inner-content">
                        <i class="las la-plus"></i>
                        <span>view</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="{% static 'images/digital/foto-studio/img-5.jpg' %}" data-fancybox="gallery" data-title="Showcases">
                <div class="port-img">
                    <img src="{% static 'images/digital/foto-studio/img-5a.jpg' %}" alt="">
                </div>
                <div class="portfolio-overlay">
                    <div class="overlay-inner-content">
                        <i class="las la-plus"></i>
                        <span>view</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="{% static 'images/digital/foto-studio/img-6.jpg' %}" data-fancybox="gallery" data-title="Showcases">
                <div class="port-img">
                    <img src="{% static 'images/digital/foto-studio/img-6a.jpg' %}" alt="">
                </div>
                <div class="portfolio-overlay">
                    <div class="overlay-inner-content">
                        <i class="las la-plus"></i>
                        <span>view</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="{% static 'images/digital/foto-studio/gallery1.jpg' %}" data-fancybox="gallery" data-title="Showcases">
                <div class="port-img">
                    <img src="{% static 'images/digital/foto-studio/gallery1a.jpg' %}" alt="">
                </div>
                <div class="portfolio-overlay">
                    <div class="overlay-inner-content">
                        <i class="las la-plus"></i>
                        <span>view</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="{% static 'images/digital/foto-studio/gallery2.jpg' %}" data-fancybox="gallery" data-title="Showcases">
                <div class="port-img">
                    <img src="{% static 'images/digital/foto-studio/gallery2a.jpg' %}" alt="">
                </div>
                <div class="portfolio-overlay">
                    <div class="overlay-inner-content">
                        <i class="las la-plus"></i>
                        <span>view</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="{% static 'images/digital/foto-studio/gallery3.jpg' %}" data-fancybox="gallery" data-title="Showcases">
                <div class="port-img">
                    <img src="{% static 'images/digital/foto-studio/gallery3a.jpg' %}" alt="">
                </div>
                <div class="portfolio-overlay">
                    <div class="overlay-inner-content">
                        <i class="las la-plus"></i>
                        <span>view</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="{% static 'images/digital/foto-studio/gallery4.jpg' %}" data-fancybox="gallery" data-title="Showcases">
                <div class="port-img">
                    <img src="{% static 'images/digital/foto-studio/gallery4a.jpg' %}" alt="">
                </div>
                <div class="portfolio-overlay">
                    <div class="overlay-inner-content">
                        <i class="las la-plus"></i>
                        <span>view</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="{% static 'images/digital/foto-studio/gallery5.jpg' %}" data-fancybox="gallery" data-title="Showcases">
                <div class="port-img">
                    <img src="{% static 'images/digital/foto-studio/gallery5a.jpg' %}" alt="">
                </div>
                <div class="portfolio-overlay">
                    <div class="overlay-inner-content">
                        <i class="las la-plus"></i>
                        <span>view</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="item">
            <a href="{% static 'images/digital/foto-studio/gallery6.jpg' %}" data-fancybox="gallery" data-title="Showcases">
                <div class="port-img">
                    <img src="{% static 'images/digital/foto-studio/gallery6a.jpg' %}" alt="">
                </div>
                <div class="portfolio-overlay">
                    <div class="overlay-inner-content">
                        <i class="las la-plus"></i>
                        <span>view</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<!--Portfolio sec end-->
{% endblock content %}