{% extends "base.html" %}
{% load static %}
{% block content %}
       
<!-- Banner Start -->
<section class="banner banner-price banner-half">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-6 col-md-12 col-sm-12 text-section wow fadeInLeft" data-wow-delay="1500ms">
                <div class="text-col">
                <h2 class="heading">Class <span class="bold-head2">Pricing & Plan</span></h2>
                <!--  <a  class="media" href="yoga-instructor/standalone.html" >
                    <i class="fas fa-chevron-right"></i>
                    <div class=" media-body">Learn More</div>
                </a> -->
                    <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-fancybox data-src="#animatedModal">Register and Join</a>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
        </div>
    </div>
<!-- Container End  -->
</section>
<!-- Banner End -->
      
<!--main page content-->
<section class="price-packs">
    <div class="siluet-img2 price-siluet"><img src="{% static 'images/digital/siluet-edit3.png' %}" alt="img"></div>
    <div class="blog-content">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-12">
                    <!--content-->
                    <div class="standalone-area">
                        <div class="row mt-66px mt-xs-4rem mb-5">
                            <div class="col-lg-12 col-md-12 col-sm-12 heading-col text-center wow fadeIn pb-4" data-wow-delay="400ms">
                                <h1 class="heading heading-custom">Single <span class="bold-head">PRIVATE</span></h1>
                                <hr>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <h5>Morning Session</h5>
                                        <p>8 AM - 12 AM</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <h5>Afternoon Session</h5>
                                        <p>1 PM - 8 PM</p>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 text-center wow fadeInUp">
                                <div class="pricing-item hvr-bg-pink">
                                    <div class="price">
                                        <h2 class="position-relative"><span class="dollar">IDR</span>550<span class="price-val">k</span></h2>
                                    </div>
                                    <div class="price-description">
                                        <p>1 Session</p>
                                        <p>One on One Session</p>
                                        <p>Mon - Sun</p>
                                        <p>50 min class</p>
                                    </div>
                                    <div class="text-center">
                                        <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Buy</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 text-center wow fadeInUp">
                                <div class="pricing-item hvr-bg-pink">
                                    <div class="price">
                                        <h2 class="position-relative"><span class="dollar">IDR</span>2.600<span class="price-val">k</span></h2>
                                    </div>
                                    <div class="price-description">
                                        <p>5 Sessions</p>
                                        <p>One on One Session</p>
                                        <p>Mon - Sun</p>
                                        <p>Valid for 1 month</p>
                                    </div>
                                    <div class="text-center">
                                        <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Buy</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 text-center wow fadeInUp">
                                <div class="pricing-item hvr-bg-pink">
                                    <div class="price">
                                        <h2 class="position-relative"><span class="dollar">IDR</span>5.000<span class="price-val">k</span></h2>
                                    </div>
                                    <div class="price-description">
                                        <p>10 Sessions</p>
                                        <p>One on One Session</p>
                                        <p>Mon - Sun</p>
                                        <p>Valid for 2 month</p>
                                    </div>
                                    <div class="text-center">
                                        <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Buy</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 text-center wow fadeInUp">
                                <div class="pricing-item hvr-bg-pink">
                                    <div class="price">
                                        <h2 class="position-relative"><span class="dollar">IDR</span>7.350<span class="price-val">k</span></h2>
                                    </div>
                                    <div class="price-description">
                                        <p>15 Sessions</p>
                                        <p>One on One Session</p>
                                        <p>Mon - Sun</p>
                                        <p>Valid for 3 month</p>
                                    </div>
                                    <div class="text-center">
                                        <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Buy</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-66px mt-xs-4rem mb-5">
                            <div class="col-lg-12 col-md-12 col-sm-12 heading-col text-center wow fadeIn pb-4" data-wow-delay="800ms">
                                <h1 class="heading heading-custom">Regular <span class="bold-head">CLASS</span></h1>
                                <hr>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 text-center wow fadeInUp">
                                <div class="pricing-item hvr-bg-pink">
                                    <div class="price">
                                        <h2 class="position-relative"><span class="dollar">IDR</span>250<span class="price-val">k</span></h2>
                                    </div>
                                    <div class="price-description">
                                        <p>1 Session</p>
                                        <p>All Access</p>
                                        <p>Mon - Sun</p>
                                        <p>50 min class</p>
                                    </div>
                                    <div class="text-center">
                                        <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Buy</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 text-center wow fadeInUp">
                                <div class="pricing-item hvr-bg-pink">
                                    <div class="price">
                                        <h2 class="position-relative"><span class="dollar">IDR</span>450<span class="price-val">k</span></h2>
                                    </div>
                                    <div class="price-description">
                                        <p>Intro Package</p>
                                        <p>3 Session training <br> in 2 weeks for Beginner</p>
                                    </div>
                                    <div class="text-center">
                                        <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Buy</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 text-center wow fadeInUp">
                                <div class="pricing-item hvr-bg-pink">
                                    <div class="price">
                                        <h2 class="position-relative"><span class="dollar">IDR</span>1.150<span class="price-val">k</span></h2>
                                    </div>
                                    <div class="price-description">
                                        <p>5 Sessions</p>
                                        <p>All Access</p>
                                        <p>Mon - Sun</p>
                                        <p>50 min class</p>
                                        <p>Valid for 1 month</p>
                                    </div>
                                    <div class="text-center">
                                        <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Buy</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 text-center wow fadeInUp">
                                <div class="pricing-item hvr-bg-pink">
                                    <div class="price">
                                        <h2 class="position-relative"><span class="dollar">IDR</span>2.200<span class="price-val">k</span></h2>
                                    </div>
                                    <div class="price-description">
                                        <p>10 Sessions</p>
                                        <p>All Access</p>
                                        <p>Mon - Sun</p>
                                        <p>50 min class</p>
                                        <p>Valid for 1 month</p>
                                    </div>
                                    <div class="text-center">
                                        <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Buy</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 text-center wow fadeInUp">
                                <div class="pricing-item hvr-bg-pink">
                                    <div class="price">
                                        <h2 class="position-relative"><span class="dollar">IDR</span>3.150<span class="price-val">k</span></h2>
                                    </div>
                                    <div class="price-description">
                                        <p>15 Sessions</p>
                                        <p>All Access</p>
                                        <p>Mon - Sun</p>
                                        <p>50 min class</p>
                                        <p>Valid for 2 month</p>
                                    </div>
                                    <div class="text-center">
                                        <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Buy</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 text-center wow fadeInUp">
                                <div class="pricing-item hvr-bg-pink">
                                    <div class="price">
                                        <h2 class="position-relative"><span class="dollar">IDR</span>4.000<span class="price-val">k</span></h2>
                                    </div>
                                    <div class="price-description">
                                        <p>20 Sessions</p>
                                        <p>All Access</p>
                                        <p>Mon - Sun</p>
                                        <p>50 min class</p>
                                        <p>Valid for 4 month</p>
                                    </div>
                                    <div class="text-center">
                                        <a href="" class="btn button btn-rounded pink-btn btn-hvr-purple" data-src="#animatedModal">Buy</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END HEADING SECTION -->
                </div>
            </div>
        </div>
    </div>
</section>
<!--main page content end-->
{% endblock content %}